p {
    color:rgb(70, 67, 67);
    width: 300px;
    font-family: 'Josefin Sans', sans-serif;
   }
   h1 { 
    font-weight: bold;
    color:brown;
   }
   h1 {
   
    font-family: 'Josefin Sans', sans-serif;

padding: 20px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 320px;
margin-right: 10 px;
/*padding-top: 20px;
padding-bottom: 20px;
padding-left: 15px;
padding-right: 20px;*/
padding: 15px 15px 15px 15px;
font-weight: bold;
color: gray;
   }
   h2 {
    
    color: gray;
    
   }
   section {
      font-family: 'Josefin Sans', sans-serif;
      width: 300px;
      padding: -20px;
      margin: 20px;
      margin-top: -300px;
      margin-right: 20px;
      
      
    }
    

    h1{
      text-align: center;
      float: center;
    }

    .foto1 {
      padding: 20px; margin: 20px; margin-top: 1px; margin-bottom: 10; float: left; border: 2px solid black; width: 250px; 

    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      font-family: 'Josefin Sans', sans-serif;
  }
  
  li {
      float: left;
      cursor: pointer;
      
  }
  
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      position: sticky;
  }
  
  
  li a:hover {
      background-color: #111;
  }
   h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: gray;
    
   }

   aside{
    float: center;
    margin-top: -480px;
   }

   #parrafo_1 {
    text-align:justify;
    margin: 200px;
    margin-top: 15px;
    margin-left: 400px;
    padding-right: 15px;
    width: 800px;

   }

   [data-content] {
    display: none;
   }

   .active[data-content]{
    display: block;
   }

   footer{
    color: white;
    line-height: 3;
   }

   #lista_1 {
    text-align: justify;
    color:white;
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px;
    margin-left: 40px;
    
   }

   .foto_2 {
    width: 20px;
    float: left;
    background-color:#333;
    margin-top: -55px;
    margin-left: 10px;
   }
 
   .foto_3 {
    width: 20px;
    float: left;
    background-color:#333;
    margin-top: -53px;
    margin-left: 370px;
   }

   .foto_4 {
    width: 20px;
    float: left;
    background-color:#333;
    margin-top: -65px;
    margin-left: 730px;

   }
   
